.main__layout {
  height: 100%;
}
.main__header,
.main__content {
  padding: 0 2rem;
}
.main__header {
  height: 5rem;
  position: sticky;
  z-index: 1;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid #3f3f46;
}
